.accordion{
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    &__header{
        font-weight: 500;
        font-size: 1.875rem;
        color: blue;
        position: relative;
        width: max-content;
        &::before{
            position: absolute;
            right: -40px;
            top: 5px;
            content: '+';
        }
    }
    &__content{
        height: 0;
        overflow-y: auto;
        transition: height 300ms ease-in-out;
    }
    &.open{
        .accordion__content{
            height: 100%;
            transition: height 600ms ease-in-out;
        }
        .accordion__header{
            &::before{
                content: '-';
                // transform: rotate(180deg);
            }
        }
    }
}